<!--Header-->
<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<span class="margin-left2011">
					<img class="header-logo" src="/assets/TSOT.png">
				</span>
			</div>
			<div class="col-sm-6">
				<span class="margin-left2011">
					<img class="powerheight" src="/assets/Power.png">
				</span>
			</div>
		</div>
	</div>
</header>

<main class="body-background">
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="background-color:#FFFFFF;">
				<div class="row">
					<div class="col-sm-12 main-container">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<footer>

</footer>