.addProfile{

    font-weight: bold;
}

.createProfile{
    width: 361px;
}

.primary-button-style{
    margin-right: 23px;
}

.column {
    float: right;
    width: 50%;
    padding: 5px;
  }
  
  .examiner{
    float: right;
  }

  .profilesuccess{
   color: blue;
   float: left;
  }
    
.profileError{
    color: red;
    float: left;
}
 