<h3><font color="blue">Exam instructions </font></h3>

<li>Welcome to Online Exam for General Aptitude Exam.</li>
<li>Exam has total 15 questions.</li>
<li>Total time for exam is 30 minutes.</li>
<li>Negative marking : No</li>



<br>
<br>
<br>
<h6><font color="blue">All the best.</font></h6>
<h6> <font color="red">Please click on the <b>Start Exam</b> button to appear test !</font></h6>

<br>
<br>

<div>
    <button type="button" class="btn btn-primary primary-button-style" [routerLink]="['/loadTest']">Start Exam</button>
   
</div>
